fastapi
uvicorn[standard]
aiohttp
requests
Pillow
transformers
diffusers
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
xformers==0.0.22
accelerate
replicate
llama-cpp-python
tqdm 